body {
  font-family: sans-serif;
  padding: 20px;
  margin:0;
  min-height:100vh;
  background: linear-gradient(to bottom, #ccefff, #ffffff); /* 구름빛 배경 */
}

header {
  text-align: center;
  background: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

section {
  background: rgba(255, 255, 255, 0.9);
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

input, button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.85;
}

.error {
  color: red;
  text-align: center;
}

.centered {
  text-align: center;
}

ul.centered {
  list-style-type: none;
  padding: 0;
}

#discord-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background: #7289da;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
}

#discord-btn img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
